html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
}

/* :root {
    --navbar-height: 60px;
} */

/*----------------------------- Navigation styling------------------------------------
  */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}

#logo {
  margin: 10px 10px 5px 5px;

}

#logo img {
  margin-bottom: 20px;
  height: 70px;
  width: 100px;
}

#navbar ul {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  float: left;
  margin-left: 400px;
}

#navbar::before {
  content: "";
  background-color: #4c3e4c;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* opacity:0.4; */
  top: 0px;
  left: 0px;
}
#navbar ul li {
  list-style: none;
  font-size: 25px;
  display: block;
  padding: 30px 30px;
  /* margin-right: 10px; */
  /* margin-left: 200px; */
  font-weight: bold;
  margin-top: 20px;
}

#navbar ul li a {
  display: block;
  padding: 10px;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

#navbar ul li a:hover {
  background-color: rgba(229, 138, 223, 0.285);
  transition: all 0.75s ease 0.01s;
}
#logo {
  margin-left: 60px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

/* -------------------------------Home section CSS-------------------------------------- */

#home {
  display: flex;
  flex-direction: column;
  padding: 5px 100px;
  justify-content: center;
  align-items: center;
  height: 430px;
}

#home::before {
  content: "";
  /* background: black; */
  background: rgb(213 198 231);
  position: absolute;
  height: 230%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  top: 0px;
  left: 0px;
}

#home h1 {
  color: #151315;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 10px;
  /* font-weight:bold; */
  font-size: 40px;
  margin-top: -100px;
  margin-right: 800px;
  /* margin-bottom: 400px; */
}

#home p {
  color: black;
  text-align: left;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 20px;
  margin-top: 100px;
  /* margin-left: 20px; */
  margin-right: 750px;
  /* margin-bottom: 00px; */
}

#image {
  height: 200px;
  /* size-adjust: 20px; */
  margin-left: 500px;
  margin-top: -120px;
  margin-bottom: 0px;
  width: 0px;
}
span {
  color: #4c3e4c;
  font-size: 70px;
}

/* #home img{
        height:300px;
        margin-top: 80px;
    }
     */
.btn {
  padding: 10px 10px;
  margin-left: 230px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  /* border: 3px solid black; */
  /* background-color: black; */
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 200px; */
  /* text-decoration: none; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: none;
}
.btn a {
  text-decoration: none;
  color: #151315;
}
.btn a:hover {
  text-decoration: none;
}
/* .btn a:visited{
    color: white;
}
.btn a:active{
    color:white;    
} */
.btn:hover {
  background-color: rgba(101, 88, 100, 0.163);
  color: white;
}

.footer {
  background: #5d4d5d;
  /* margin-left: 10px; */
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 2fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: white;
  padding: 1rem 0;
  margin-left: 100px;
}

.footer .box-container .box h3 i {
  color: white;
}

.footer .box-container .box .share {
  margin-top: 1rem;
  margin-left: 100px;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background-color: white;
  color: #fff;
  margin-right: 0.3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background-color: white;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: white;
  padding: 0.5rem 0;
  display: block;
  margin-left: 100px;
}

.footer .box-container .box .link:hover {
  color: #a48a9e;
  text-decoration: underline;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: white;
  padding: 1rem 0;
  margin-left: 100px;
}

.footer .box-container .box .email {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border: 0.1rem solid #0eb582;
  margin-bottom: 1rem;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  border-top: 0.1rem solid #0eb582;
}

.footer .credit span {
  color: #0eb582;
}

.service {
  margin-top: 100px;
  margin-left: 650px;
  font-size: 60px;
  color: #151315;
}

.container1 {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 2s linear;
}

.container1 {
  /* background: linear-gradient(to top, rgba(41, 43, 44), rgba(41, 43, 44)); */
  padding: 15px 9%;
  padding-top: 0px;
  padding-bottom: 90px;
}

.container1 .box-container1 {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 50px;
  margin-left: -10px;
}

.container1 .box-container1 .box1 img {
  width: 150px;
  height: 170px;
  padding-top: 30px;
}

.container1 .box-container1 .box1 {
  box-shadow: 0px 5px 10px black;
  border-radius: 4px;
  background: white;
  text-align: center;
  padding: 30px 20px;
  height: 600px;
}
.container1 .box-container1 .box1:hover {
  background-color: #a086a0;
  color: white;
}

.container1 .box-container1 .box1 h3 {
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  padding: 10px 0px;
}

.container1 .box-container1 .box1 p {
  color: black;
  font-family: sans-serif;
  padding: 10px 0px;
  font-size: 1.3rem;
  line-height: 2;
}




/* --------------------------------About Us CSS------------------------------------------ */
#heading {
  margin-top: 80px;
  font-size: 30px;
  margin-left: 600px;
  color: #4c3e4c;
}
#about::before {
  content: "";
  /* background: black; */
  background: rgb(213 198 231);
  position: absolute;
  height: 150%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  top: 0px;
  left: 0px;
}

#para1 {
  margin-top: 50px;
  margin-left: 390px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#para2 {
  /* margin-top: 100px; */
  margin-left: 210px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.team {
  margin-left: 250px;
  /* margin-right: 40px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  font-size: 20px;
}

img {
  padding-top: 50px;
  margin-top: 40px;
}
.teamname {
  margin-left: 600px;
  margin-top: 60px;
  font-size: 50px;
  color: #4c3e4c;
}
.btnteam {
  padding: 5px 5px;
  margin-left: 0px;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  /* border: 3px solid black; */
  /* background-color: black; */
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 200px; */
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: none;
}
.btnteam a{
  text-decoration: none;
}
/* ---------------------------------Internship page css--------------------------- */
#internships::before {
  content: "";
  /* background: black; */
  background: rgb(213 198 231);
  position: absolute;
  height: 250%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  top: 0px;
  left: 0px;
}
#intern {
  margin-left: 600px;
  margin-top: 100px;
  font-size: 50px;
}
#internpara {
  margin-left: 550px;
  font-size: 30px;
  margin-top: 30px;
}

.container {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 2s linear;
  margin-top: 80px;
}

.container {
  /* background: linear-gradient(to top, rgba(41, 43, 44), rgba(41, 43, 44)); */
  padding: 10px 4%;
  padding-bottom: 50px;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.box img {
  width: 150px;
  height: 200px;
  padding-top: 30px;
}

.container .box-container .box {
  box-shadow: 0px 5px 10px black;
  border-radius: 4px;
  background: white;
  text-align: center;
  padding: 30px 50px;
  border-radius: 6px;
}

/* .container .box-container .box:hover{
    background-color: #a086a0; 
    color: white;
} */
.container .box-container .box h3 {
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  padding: 10px 0px;
}

.container .box-container .box p {
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  padding: 10px 0px;
  line-height: 1.8;
}

.internbtn {
  padding: 10px 10px;
  /* margin-left: 100px; */
  margin-top: 30px;
  width: 200px;
  height: 50px;
  /* border: 3px solid black; */
  /* background-color: black; */
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 200px; */
  /* text-decoration: none; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: none;
}
.internbtn a {
  text-decoration: none;
  color: #151315;
}
.internbtn a:hover {
  text-decoration: none;
}
/* .internbtn a:visited{
    color: white;
}
.internbtn a:active{
    color:white;    
} */
.internbtn:hover {
  background-color: rgba(4, 4, 4, 0.163);
  color: white;
}
/* ----------------------------Contact Page CSS--------------------------------------------- */

.contact {
  margin-left: -10px;
  margin-top: 50px;
  font-size: 60px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#contactus::before {
  content: "";
  /* background: black; */
  background: rgb(213 198 231);
  position: absolute;
  height: 235%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  top: 0px;
  left: 0px;
}

.whole {
  display: flex;
  padding: 30px 30px;
  margin-left: 5px;
}
.time {
  margin-left: 80px;
  font-size: 30px;
  /* margin-top: 30px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 2px solid black;
  padding: 20px;
  background-color: #4c3e4c;
  color: white;
  /* box-shadow: 500px; */
}
.mail {
  margin-left: 200px;
  font-size: 30px;
  /* margin-top: 30px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 2px solid black;
  padding: 20px;

  background-color: #4c3e4c;
  color: white;
}
.web {
  margin-left: 200px;
  font-size: 30px;
  /* margin-top: 30px;  */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 2px solid black;
  padding: 20px;

  background-color: #4c3e4c;
  color: white;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  margin-top: 40px;
  /* background-color: #4c3e4c;
    color: white;
    width: 1000px;
    margin-left: 400px; */
}
.contact {
  font-size: 60px;
  display: flex;
  /* text-decoration: underline; */
  text-align: center;
  justify-content: center;
  /* margin-top: 30px; */
}

.form-group {
  padding: 10px;
  margin: 10px;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 20px;
  border-radius: 40px;
  font-size: 25px;
}
footer {
  margin-bottom: 0px;
  background-color: #2c252c;
  color: white;
  padding: 10px 25px;
}
.btn1 {
  padding: 10px 10px;
  margin-left: 5px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  /* border: 3px solid black; */
  /* background-color: black; */
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 200px; */
  /* text-decoration: none; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: none;
}
.btn1 a {
  text-decoration: none;
  color: #151315;
}
.btn1 a:hover {
  text-decoration: none;
}
/* .btn a:visited{
    color: white;
}
.btn a:active{
    color:white;    
} */
.btn1:hover {
  background-color: rgba(101, 88, 100, 0.163);
  color: white;
}

.but {
  padding: 10px 10px;
  margin-left: 5px;
  margin-top: 0px;
  width: 200px;
  height: 18px;
  /* border: 3px solid black; */
  /* background-color: black; */
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: 200px; */
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border: none;
}
.but a {
  text-decoration: none;
  color: #151315;
}
.but a:hover {
  text-decoration: none;
}
/* .btn a:visited{
    color: white;
}
.btn a:active{
    color:white;    
} */
.but:hover {
  background-color: rgba(101, 88, 100, 0.163);
  color: white;
}




